// Place all the styles related to the Leafs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
    pointer-events: all;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.image_gallery
{
  margin: -15px;
  margin-bottom: 15px;
  img
  {
    padding-top: 4px;
  }
}

.header_image
{
  margin: -15px;
  margin-bottom: 15px;
  overflow: hidden;
  img
  {
  }
}


.clickable
{
  cursor: pointer;
}

.clickable_hover
{
  cursor: pointer;
  border-width: 0 10px 0 0;
  border-style: solid;
  border-right: white;
}

.selected_leaf
{
  border-right: rgb(111, 110, 110);
  border-style: solid;
  border-width: 0 10px 0 0;
}

.clickable_hover:hover
{
  background-color: #EEE;
}


#leaf_text
{
  border: 0;
  padding: 0.5em;
  margin: 0.1em;  
  padding-bottom: 5px;
}

#new_leaf_controls
{
  margin-top: 1.0em;
}

#controls
{
  float: right;
}


#leaf_text_edit
{
  height: 300px;
}

.actions
{
  stroke: red !important;
  stroke-width: 2px !important;
}

.active
{
  stroke: #31D4EB !important;
  stroke-width: 3px !important;
}

.active_text
{
  font: 16px sans-serif;
}


text 
{
  font: 14px sans-serif;
  cursor:pointer;
}

text:hover
{
  text-decoration:underline !important;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}


